/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid#c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}

/* My Styles */

body {
font-size: 100%;
line-height: 150%;
font-family: Georgia, Times New Roman, seirf;
background-color: #f2f2f2;
color: #333;
}

.container {
width: 100%;
}

	header,
	section,
	footer {
	max-width: 42em;
	margin: 0 auto;
	}
	
	footer {
	padding: 1.5em 0;
	}
	
/* Typography */

h1, h2, h3, h4, h5, h6, form {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
margin: 0;
}

h1 {
font-size: 3em;
line-height: 1em;
padding: 1em 0;
}

h2 {
font-size: 2.5em;
line-height: 1.2em;
padding: 0em;
}

h3 {
font-size: 2em;
line-height: 1.5em;
padding: 1.5em 0 0;
}

dl {
/*background-color: rgba(0,0,0,0.07);*/
}

	dt {
	background-color: rgba(0,0,0,0.1);
	padding: 0.625em 1em 0.75em;
	border-top: 0.125em solid rgba(0,0,0,0.14);
	}

		dt:first-letter {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: rgba(0,0,0,0.5);
		}
		
	dd {
	margin: 0 0 1em;
	padding: 1em;
	background-color: rgba(0,0,0,0.05)
	}
		
		dd:first-letter {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: rgba(0,0,0,0.5);
		}
		
form {
margin: 3em 0 0;
text-align: center;
}

	label {
	font-weight: bold;
	}
	
	input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 2em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	}